<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- logo -->
    <link rel="icon" href="../Resources/img/logo/logo-chinh.png" type="image/x-icon" />
    <!-- icon -->
    <link rel="stylesheet" href="../Resources/fonts/fontawesome-free-6.1.1-web/css/all.min.css">
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- home css -->
    <link rel="stylesheet" href="../Resources/css/home/home.css">
    <link rel="stylesheet" href="../Resources/css/home/home_responsive.css">
    <title>Trang Chủ</title>
</head>
<body>  
    <header>
        <!-- begin: header-top -->
        <div class="header-top">
            <div class="header-top__language header-top__language__hover">
                <img src="../Resources/img/home/USA-394.png" alt="USA" class="language__img">
                <p class="language__text">USA - EN</p> 
                <i class="fa-solid fa-caret-down language__icon"></i>
                <ul class="language_nav">
                    <li><a href="" class="lenguage__link">
                            <div class="lenguage__box">
                            <img src="../Resources/img/home/Canada.png" alt="img CANADA" class="subnav__img">
                                <div class="subnav__content">
                                    <p class="subnav__lenguage">ENGLISH | Français</p>
                                    <p class="subnav__country">CANADA</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li><a href="" class="lenguage__link">
                            <div class="lenguage__box">
                            <img src="../Resources/img/home/France.png" alt="img France" class="subnav__img">
                                <div class="subnav__content">
                                    <p class="subnav__lenguage">Français</p>
                                    <p class="subnav__country">France</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li><a href="" class="lenguage__link">
                            <div class="lenguage__box">
                            <img src="../Resources/img/home/Germany.png" alt="img GERMANY" class="subnav__img">
                                <div class="subnav__content">
                                    <p class="subnav__lenguage">DEUTSCH</p>
                                    <p class="subnav__country">DEUTSCHLAND (GERMANY)</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li><a href="" class="lenguage__link">
                            <div class="lenguage__box">
                            <img src="../Resources/img/home/Switzerland.png" alt="img SWITZERLAND" class="subnav__img">
                                <div class="subnav__content">
                                    <p class="subnav__lenguage">DEUTSCH | Français | Italiano</p>
                                    <p class="subnav__country">SWITZERLAND</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li><a href="" class="lenguage__link">
                            <div class="lenguage__box">
                            <img src="../Resources/img/home/USA.png" alt="img USA" class="subnav__img">
                                <div class="subnav__content">
                                    <p class="subnav__lenguage">ENGLISH | español</p>
                                    <p class="subnav__country">USA</p>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <a href="" class="account__link">
                <div class="header-top__account">
                    <i class="fa-solid fa-user account__icon"></i>
                    <p class="account-text">ACCOUNT</p>
                </div>
            </a>
        </div>
        <!-- end: header-top -->

        <!-- begin: header-bottom -->
        <div class="header-bottom">
            <!-- logo -->
            <a href="" class="header-bottom__logo">
                <img src="../Resources/img/logo/allPort.png" alt="logo" class="logo_img">
            </a>

            <!-- begin: nav -->
            <ul class="header-bottom__nav">
                <li class="nav__item hearder-bottom__hover">
                    <span>
                        News
                        <i class="fa-solid fa-chevron-down nav_icon"></i>
                    </span>
                    <div class="new__box">
                        <ul class="new__nav">
                            <li><p href="">News</p></li>
                            <li><a href="">All News</a></li>
                            <li><a href="">Companywide News</a></li>
                            <li><a href="">Regional News</a></li>
                            <li><a href="">Industry News</a></li>
                        </ul>
                        <ul class="people__nav">
                            <li><p class="" href="">People News</p></li>
                            <li><a href="">Advancements</a></li>
                            <li><a href="">Department News</a></li>
                            <li><a href="">Organizational News</a></li>
                            <li><a href="">Announcements</a></li>
                        </ul>
                        <ul class="event__nav">
                            <li><p href="">Events</p></li>
                            <li><a href="">allPort Sales Conference 2020</a></li>
                            <li><a href="">Innovator Awards</a></li>
                            <li><a href="">The Future of Finance</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav__item">
                    <span>
                        Department services 
                        <i class="fa-solid fa-chevron-down nav_icon"></i>
                    </span>
                </li>
                <li class="nav__item">
                    <span>
                        Job Tools
                        <i class="fa-solid fa-chevron-down nav_icon"></i>
                    </span>
                </li>
                <li class="nav__item">
                    <span>
                        Who We Are
                        <i class="fa-solid fa-chevron-down nav_icon"></i>
                    </span>
                </li>
                <li class="nav__item nav__item--info"><a href="">Covid Info</a></li>
            </ul>
            <!-- end: nav -->

            <!-- search -->
            <div class="header-bottom__search">
                <form action="#">
                    <input type="text" class="search__input" placeholder="Search" name="search">
                    <button type="submit"><i class="fa-solid fa-magnifying-glass search__icon"></i></button>
                </form>
            </div>
        </div>
        <!-- end: header-bottom -->
    </header>
    <section>
        <aside>
            <!-- begin: featured -->
            <div class="featured">
                <span class="dsc__txt--left">Featured News</span>
                <a href="" class="featured__link">
                    <div class="featured__box">
                        <img src="../Resources/img/home/photo-1524242109383-e349707a106b.png" alt="anh" class="featured_img"></img>
                        <div class="featured__content">
                            <p class="featured__deac">Barclays is asking more bankers to return to its News York</p>
                            <p class="featured__datetime">sep. 24, 2020 at 11:07 a.m. ET</p>
                            <div class="content__option">
                                <div class="dots">
                                    <i class="fa-solid fa-circle"></i>
                                    <i class="fa-regular fa-circle"></i>
                                    <i class="fa-regular fa-circle"></i>
                                </div>
                                <div class="directional">
                                    <i class="fa-solid fa-angle-left"></i>
                                    <i class="fa-solid fa-angle-right"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- end: featured -->
            
            <!-- begin: quick -->
            <div class="quick">
                <span class="dsc__txt--right">Quick Links</span>
                <div class="quick__box">
                    <div class="quick-box__list quick__box--left">
                        <a href="">
                            <div class="quick-box__item">
                                <i class="fa-solid fa-archway"></i>
                                <p>Policy</p>
                            </div>
                        </a>
                        <a href="">
                            <div class="quick-box__item">
                                <i class="fa-solid fa-face-grin"></i>
                                <p>Directory</p>
                            </div>
                        </a>
                        <a href="">
                            <div class="quick-box__item">
                                <i class="fa-solid fa-building"></i>
                                <p>Office</p>
                            </div>
                        </a>
                        <div class="clear"></div>
                    </div>

                    <div class="quick-box__list quick__box--right">
                        <a href="">
                            <div class="quick-box__item">
                                <i class="fa-solid fa-building"></i>
                                <p>Software</p>
                            </div>
                        </a>
                        <a href="">
                            <div class="quick-box__item">
                                <i class="fa-solid fa-house-chimney-medical"></i>
                                <p>Hardware</p>
                            </div>
                        </a>
                        <a href="">
                            <div class="quick-box__item">
                                <i class="fa-solid fa-house-laptop"></i>
                                <p>Events</p>
                            </div>
                        </a>
                        <div class="clear"></div>
                    </div> 
                </div>
            </div>
            <!-- end: quick -->
        </aside>
        
        <!-- begin: conpany -->
        <div class="conpany">
            <div class="conpany_title">
                <span class="conpany__txt">Company News</span>
                <a href="#" class="conpany__links">SEE ALL NEWS</a>
            </div>
            <div class="conpany__list">
                <a href="" class="canpany__link">
                    <div class="conpany__card">
                        <img src="../Resources/img/home/photo-1571715268998-d6e79bed5fc9.png" alt="anh">
                        <p class="conpany__dsec">Capital Confidential: 'Bis Short' author contemplates taking on Brexit</p>
                        <p class="conpany__date">Oct. 29, 2019 at 6:06 a.m. ET</p>
                    </div>
                </a>
                <a href="" class="canpany__link">
                    <div class="conpany__card">
                            <img src="../Resources/img/home/photo-1493612276216-ee3925520721.png" alt="anh">
                            <p class="conpany__dsec">U.K. assets are too hot to handle right now, top investors say</p>
                            <p class="conpany__date">Oct. 29, 2019 at 6:06 a.m. ET</p>
                    </div>
                </a>
                <a href="" class="canpany__link">
                    <div class="conpany__card">
                        <img src="../Resources/img/home/pexels-photo-411207.png" alt="anh">
                        <p class="conpany__dsec">Europe’s largest money manager warns of an investment industry liquidity crisis</p>
                        <p class="conpany__date">Oct. 29, 2019 at 6:06 a.m. ET</p>
                    </div>
                </a>
                <a href="" class="canpany__link">
                    <div class="conpany__card">
                        <img src="../Resources/img/home/photo-1522273500616-6b4757e4c184.png" alt="anh">
                        <p class="conpany__dsec">Short-seller Muddy Waters attacks litigation fund Burford</p>
                        <p class="conpany__date">Oct. 29, 2019 at 6:06 a.m. ET</p>
                    </div>
                </a>
                <a href="" class="canpany__link">
                    <div class="conpany__card">
                        <img src="../Resources/img/home/photo-1483129804960-cb1964499894.png" alt="anh">
                        <p class="conpany__dsec">Wall Street falls on stalling economic rebound, stimulus impasse</p>
                        <p class="conpany__date">Oct. 29, 2019 at 6:06 a.m. ET</p>
                    </div>
                </a>
                <a href="" class="canpany__link">
                    <div class="conpany__card">
                        <img src="../Resources/img/home/pexels-photo-325185.png" alt="anh">
                        <p class="conpany__dsec">Exclusive: U.S. offers tariff truce if Airbus repays billions in aid, sources say</p>
                        <p class="conpany__date">Oct. 29, 2019 at 6:06 a.m. ET</p>
                    </div>
                </a>
                <a href="" class="canpany__link">
                    <div class="conpany__card">
                        <img src="../Resources/img/home/photo-1516893842880-5d8aada7ac05.png" alt="anh">
                        <p class="conpany__dsec">New York could emerge the winner from Brexit derivatives clash</p>
                        <p class="conpany__date">Oct. 29, 2019 at 6:06 a.m. ET</p>
                    </div>
                </a>
                <a href="" class="canpany__link">
                    <div class="conpany__card">
                        <img src="../Resources/img/home/photo-1469122312224-c5846569feb1.png" alt="anh">
                        <p class="conpany__dsec">Analysis: Imported tortillas? Big Mexican farmers fear cuts will hit harvests</p>
                        <p class="conpany__date">Oct. 29, 2019 at 6:06 a.m. ET</p>
                    </div>
                </a>
            </div>
        </div>
        <!-- end: conpany -->

        <!-- begin: question -->
        <div class="question">
            <span class="question_title">How to i ?</span>
            <div class="question__list--left">
                <div class="question__card">
                    <p class="question__dsec">Search the employee directory?</p>
                    <i class="fa-solid fa-angle-right"></i>
                </div>
                <div class="question__card">
                    <p class="question__dsec">See my benefits?</p>
                    <i class="fa-solid fa-angle-right"></i>
                </div>
                <div class="question__card">
                    <p class="question__dsec">Visit the learning center?</p>
                    <i class="fa-solid fa-angle-right"></i>
                </div>
            </div>
            <div class="question__list--right">
                <div class="question__card">
                    <p class="question__dsec">Find the corporate calendar?</p>
                    <i class="fa-solid fa-angle-right"></i>
                </div>
                <div class="question__card">
                    <p class="question__dsec">Get my computer fixed?</p>
                    <i class="fa-solid fa-angle-right"></i>
                </div>
                <div class="question__card">
                    <p class="question__dsec">view my vacation days</p>
                    <i class="fa-solid fa-angle-right"></i>
                </div>
            </div>
        </div>
        <!-- begin: question -->

        <!-- Begin: event -->
        <div class="event">
            <!-- <div class="event__img">
            </div> -->
            <img src="../Resources/img/home/Cell-Phone-and-Credit-Card-Mockup.png" alt="phone card" class="event__img">
            <div class="event__box">
                <a href="" class="event__links">SEE ALL EVENTS</a>
                <p class="event_title">VIRTUAL EVENT</p>
                <p class="event__date">MAY 20, 2021</p>
                <p class="event_desc">Learn from Industry Superstars and Renew Your Passion</p>
                <button class="event__btn">Register for free</button>
            </div>
        </div>
        <!-- end: event -->

        <!-- Begin: content -->
        <div class="content">
            <div class="content__proposing">
                <span class="proposing__title">Interested in proposing content?</span>
                <img src="../Resources/img/home/Group 3109.png" alt="ảnh" class="proposing__img">
                <div class="proposing__optional">
                    <p class="proposing__dsc">If you have a topic that you would like to publish into the company intranet, write an abstract and propose it to the internal communication team!</p>
                    <button class="proposing__btn">Propose content</button>
                </div>
            </div>
            <div class="content__manager">
                <span class="manager__title">Content Manager</span>
                <img src="../Resources/img/home/photo-1530268729831-4b0b9e170218.png" alt="ảnh" class="manager__img">
                <a class="manager__name">Kevin Smith</a>
                <p class="manager__address">Kevinsmith@nuport.com  -  703-656-02020</p>
            </div>
        </div>
        <!-- end: content -->

    </section>
    <footer>
        <div class="footer__top">
            <div class="footer__dsc">
                <p class="footer__dsc--left">Help us improve all</p>
                <p class="footer__dsc--right">Port</p>
            </div>
            <button class="footer__btn">Feedback</button>
        </div>
        <div class="footer__botton">
            <a href="" class="footer__logo">allPort</a>
            <div class="footer__option">
                <a href="" class="footer__item">FAQs</a>
                <a href="" class="footer__item">Accessibility help</a>
                <a href="" class="footer__item">Corporate Website</a>
                <a href="" class="footer__item">Contact us</a>
            </div>
        </div>
    </footer>
</body>
</html>